* {
    padding: 0px;
    margin: 0px;
}


.cont {
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    font-size: 26px;
    line-height: 2em;
    width: 345px;
}


section.seg {
    height: 400px;
    background-image: url(assets/background002.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 30px;
    padding-bottom: 100px;
}



/*Footer*/
.redesocial a {
    text-decoration: none;
  }
  
  .redesocial #whatsapp {
    margin-right: 0px;
  }
  
  .redesocial i {
    color: #63084D;
    font-size: 40px;
    transition-duration: 0.3s;
  }
  
  .redesocial #gmail i:hover {
    color: #c71610;
  }
  
  .redesocial #linkedin i:hover {
    color: #0e76a8;
  }
  
  .redesocial #github i:hover {
    color: #fff;
  }
  
  .redesocial #whatsapp i:hover {
    color: #25D366;
  }
  


/*Footer*/
#copyButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }